@import "../main/app"

.section_title
    width: 100%
    margin-top: 20px

#search
    .gps
        @extend .button-empty

    .city-input
        max-width: 400px
        margin: 0 auto
        margin-top: 30px
        padding: 0 20px

        .city-suggestions
            font-size: 16px
            position: absolute
            max-width: 400px
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            z-index: 2
            padding: 0 20px
            
            ul
                margin-top: -25px
                background-color: $color-header
                color: white
                border-radius: 0px 0px 10px 10px

                li
                    cursor: pointer
                    margin: 0
                    border-top: 1px solid #f1f1f1
                    &:hover
                        border-radius: 0px 0px 10px 10px
                        background-color: $color-headers
                    &:active
                        border-radius: 0px 0px 10px 10px
                        background-color: $color-headers
                        
    .trip-length-container
        display: flex
        flex-wrap: wrap
        max-width: 450px
        margin: 0 auto
        justify-content: center

        .length-container
            display: flex
            flex-wrap: wrap
            flex-direction: row        
            cursor: pointer
            border: 2px solid $color-2
            border-radius: 10px
            
        .length
            padding: 0.3em 1em

    .category-container
        display: flex
        flex-wrap: wrap
        max-width: 600px
        margin: 0 auto
        padding: 0 20px
        justify-content: center
        
        .category
            @extend .button-empty
            margin: 10px 5px
            padding: 5px 15px

    .cta-buttons-container
        margin-top: 20px
        .cta-button
            @extend .button-full
            margin: 5px auto
            
        .cta-1, .cta-1:active
            background-color: $color-cta
            
        .cta-2, .cta-2:active
            background-color: $color-cta2
