@import "../main/app"

button
    padding: 0;
    border: none;
    background: none;
    color: white
    font-family: $font-bold
    cursor: pointer

#main
    position : relative
    width : 100%
    height : 100%

#container
    display: flex
    flex-direction: column
    top: -5px 
    width : 100%
    height : 100%

    #map
        width : 100%
        height : 50%

    #tabContainer
        @extend .shadow
        display: flex
        flex-direction: row
        border: 2px solid $color-2
        border-radius: 5px
        height: 35px
        margin: 5px

        .tab
            color: $color-text-dark
            font-size: 16px
            text-transform: uppercase
            width : 50%

        .selected
            background-color: $color-2

    #list
        display: flex
        flex-direction: column 
        width : 100% 
        height : 50%
        position : absolute
        overflow-y: scroll
        margin: 0 auto
        padding: 0 20px
        color: white

        .poiItem 
            @extend .shadow
            cursor: pointer
            width : 100%
            border: 2px solid $color-2
            border-radius: 10px
            background-color: $color-2 !important
            padding: 10px 15px
            text-align: start
            margin: 10px auto
            font-size: 20px
            line-height: 30px

    #instructions
        position : absolute
        display : none
        width : 100% 
        height : 50%
        overflow-y: scroll

.adp-directions 
    width : 100%

.modal-mask  
  position: fixed
  z-index: 5
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, .5)
  display: table
  transition: opacity .3s ease
 
.modal-container 
    display: flex
    flex-direction: column  
    max-width: 600px
    height : 10% 
    max-height : 700px
    margin: 2% auto
    padding: 2% 3%
    background-color: #fff
    border-radius: 2px
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33)
    transition: all .3s ease
    line-height: 24px    
 
.tagList
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    text-transform: capitalize

    li
        padding: 0
        margin: 5px 15px
        line-height: 40px

    .selected-tag
        color: $color-2

.modal-header
    font-size: 24px
    text-transform: uppercase
    margin-bottom: 12px

.m-header 
  margin-top: 0
  font-size: 30px
  margin-bottom: 30px

.lower
    display: flex
    flex-direction: row 
    width : 100%
    height : 40% 
    justify-content: center
    margin-bottom: 20px
    
.m-likes
    float: left
    margin-top: 15px
    margin-left: 12px
    margin-right: 12px

.m-body 
    margin-top: 20px
    height : 40%
    width : 100%
    overflow-y : scroll 

.modal-body
    button
        margin-top: 20px
        font-size: 20px
        text-transform: uppercase
        color: $color-text-dark
        z-index: 100

.modal-default-button  
  float: right
 