#main
    position : relative;
    width : 100%;
    height : 100%;

#container
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;   
    padding-top : 2%; 
    width : 100%;
    height : 100%;

#map
    width : 100%;
    height : 50%;

#tabContainer
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;

.tab
    width : 50%;

.poiItem 
    width : 100%;
    background-color : #e2e2e2;

#instructions
    position : absolute;
    display : none;
    width : 100% 
    height : 50%
    overflow-y: scroll;

#list
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column; 
    width : 100% 
    height : 40%
    position : absolute;
    overflow-y: scroll;

.adp-directions 
    width : 100%
.modal-mask  
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
 

.modal-wrapper  
  display: table-cell;
  vertical-align: middle;
 

.modal-container  
  width: 1000px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
 

.modal-header h3  
  margin-top: 0;
  color: #42b983;
 

.modal-body  
  margin: 20px 0;
 

.modal-default-button  
  float: right;
 